@model IEnumerable<MvcKutuphane.Models.Odunc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Odunc</h1>

<p>
    <a asp-action="Create">Yeni odunc</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VerilisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeslimTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iptal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KitapIsbnNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uye)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VerilisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeslimTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iptal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KitapIsbnNavigation.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uye.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
