@model IEnumerable<MvcKutuphane.Models.Turler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Turler</h1>

<p>
    <a asp-action="Create">Yeni Tur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TurAd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TurAd)
            </td>
            <td>
                <a class="btn btn-primary"  asp-action="Edit" asp-route-id="@item.Id">düzenle</a> 
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">ayrıntı</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Silme</a>
            </td>
        </tr>
}
    </tbody>
</table>
